{% extends 'jobApp/base.html' %}
{% load static %}
{% block main %}
{% load crispy_forms_tags %}
			<div class="container">
				<div class="page-caption">
					<h2>Create An Account</h2>
					<p><a href="{% url 'home' %}" title="Home">Home</a> <i class="ti-arrow-right"></i> Login</p>
				</div>
			</div>
		
		<!-- ======================= End Page Title ===================== -->
		
		<!-- ====================== Start Signup Form ============= -->
		<section class="gray">
			<div class="container">
				<div class="container">
			
					<div class="log-box">
            <form method="POST">
              {% csrf_token %}
              {{form | crispy }}
              <button type="submit" style="width: 100%;" class="btn btn-success">Login</button>
           </form>
		   <div class="log-option"><span></span></div>	
					</div>
				</div>
				
			</div>
		</section>
		<!-- ====================== End Signup Form ============= -->
		
		
		 
{% endblock %}	