{% extends 'jobApp/base_1.html' %}
{% load static %}
{% block main %}
{% load crispy_forms_tags %}
<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
	<div class="container-fluid">
		<!-- row -->
		<div class="row">
			<div class="col-xl-3 col-xxl-4">
				<div class="row">
					<div class="col-xl-12 col-lg-6">
						<div class="card  flex-lg-column flex-md-row ">
							<div class="card-body card-body  text-center border-bottom profile-bx">
								<div class="profile-image mb-4">
									<img src="/media/{{ user.employer.logo }}" class="rounded-circle" alt="">
								</div>
								<h4 class="fs-22 text-black mb-1">{{ user.username }}</h4>
								<p class="mb-4">{{ current_user_rec.company_name }}</p>
								<div class="row">

								</div>
							</div>
							<div class="card-body  border-left">
								<div class="d-flex mb-3 align-items-center">
									<a class="contact-icon mr-3" href="#"><i class="fa fa-phone"
											aria-hidden="true"></i></a>
									<span class="text-black">{{ current_user_rec.phone_no }}</span>
								</div>
								<div class="d-flex mb-3 align-items-center">
									<a class="contact-icon mr-3" href="#"><i class="las la-envelope"></i></a>
									<span class="text-black">{{ user.email }}</span>
								</div>
								<div class="d-flex mb-3 align-items-center">
									<a class="contact-icon mr-3" href="#"><i class="bi bi-geo-alt-fill"></i></a>
									<span class="text-black">{{ current_user_rec.address }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-xxl-8">
				<div class="row">
					<div class="col-xl-12">
						<div class="card profile-card">
							<div class="card-header flex-wrap border-0 pb-0">
								<h3 class="fs-24 text-black font-w600 mr-auto mb-2 pr-3">Edit Profile</h3>
								<div class="d-sm-flex d-block">
									<div class="d-flex mr-5 align-items-center mb-2">
										<div class="custom-control custom-switch toggle-switch text-right">
											<input type="checkbox" class="custom-control-input" id="customSwitch1">
											<label class="custom-control-label" for="customSwitch1">Available for
												hire?</label>
										</div>
									</div>

								</div>
							</div>
							<div class="card-body">
								<form method="POST" action="{% url 'emp_detail' user.id %}"
									enctype="multipart/form-data">
									{% csrf_token %}
									{{ u_form | crispy }}
									<br>
									<input type="submit" class="btn btn-primary" value="Update">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->

{% endblock %}